/* =========== Google fonts =========== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');
/* =========== Google fonts =========== */


/* ================ Common CSS ================ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.sectionMargin{
    margin-bottom: 70px;
}


/* ================ Header CSS ================ */
.header_text{
    margin-top: 30px;
}
.header_text h3{
    font-size: 24px;
}
